@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "tailwindcss";

body {
  background-color: #161616;
}

@theme {
  --font-italiana: "Italiana", sans-serif;
}

@layer components {
  .shadow-inner-shadow {
    box-shadow: inset 6px 6px 16px 0 rgba(0, 0, 0, 0.25), inset -6px -6px 16px 0 rgba(0, 0, 0, 0.25);
  }
}